/*
	global
*/
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	margin:0 auto;
	padding:0;
	height:100%;
	overflow-y:scroll;
	
}
h1 {
	margin-top:0px;
	margin-bottom:10px;
}
.street-address {
	font-size:1.3em;
	font-weight:bold;
}
.city-zip {
	color:#888888;
}
input.create-new {
	color:#ffffff;
	font-size:1.4em;
	text-decoration:none;
	background-color:#359455;
	border:1px dotted #359455;
}
input.create-new:hover {
	color:#ffffff;
	font-size:1.4em;
	text-decoration:none;
	background-color:#359455;
	border:1px dotted #359455;
}

/*
	structure 
*/
div#wrap {
	min-height: 100%;
	background-repeat:repeat-x;
	background-position:bottom left;
}
div#container {
	width:950px;
	margin:0 auto;
	padding:0;
}
div#content {
	min-height:400px;
	padding-top:10px;
}
div#header {
	padding-left:0px;
	padding-top:15px;
	margin:0px;
}
div#status {
	float:right;
}
div#static-links {
	float:left;
	background-color:#eeeeee;
	padding:5px 8px;
}
div#login-links {
	float:right;
	background-color:#eeeeee;
	padding:5px 8px;
}
div#create-new {
	position:relative;
	top:-15px;
	float:right;
}
div#create-new:hover {
}
div.sidebar {
	width:275px;
	min-height:500px;
	float:right;
	padding:5px;
	padding-left:15px;
	border-left:1px dotted #aaaaaa;
	font-size:0.9em
}
div#page {
	width:625px;
	float:left;
}

/* 
	nav 
*/
div#attributes-column {
}
div#nav {
	background-color:#ffffff;
	border-bottom:1px dotted #aaaaaa;
	padding-top:10px;
}
div#steps {
	background-color:#ffffff;
	border-bottom:1px dotted #aaaaaa;
	padding-top:20px;
	padding-bottom:10px;
}
div#nav ul {
	list-style:none;
	padding:0;
	font-size:1.0em
}
div#nav ul li {
	display:inline;
	float:left;
	margin-right:8px;
	margin-left:1px;
	background-color:#daeaef;
	border:1px solid #daeaef;
	border-style:solid solid none solid;
}
div#nav ul li:hover {
	border:1px solid #2783a2;
	border-style:solid solid none solid;
}

div#nav ul li a {
	color:#2783a2;
	font-size:1.2em;
	text-decoration:none;
	float:left;
	padding:4px 10px;
}
div#nav ul li a.selected, div#nav ul li a.selected:hover {
	color:#ffffff;
	background-color:#2783a2;
}
div#nav ul li a:hover {
}
.current-step {
	color:#359455;
	font-size:1.3em;
	font-weight:bold;
}
.other-step {
	color:#aaaaaa;
	font-size:1.3em;	
}

/* Headers */

div#header h1 {
	font-size:2.9em;
}
h2 {
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-weight:normal;
	margin:-10px 0 10px 0;
	padding:0;
	font-size:1.1em;
	color:#666666;
	text-align:left;
}
h3 {
	color:#ffffff;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:1.6em;
	font-weight:normal;
	letter-spacing:-1px;
	margin:0;
	padding:0;
}
h4 {
	color:#232323;
	padding:0;
	font-size:1.2em;
	margin:0;
}
div.sidebar h4 {
	font-weight:normal;
}

/* Forms, labels, inputs */

input, textarea {
	padding:5px;
	border:1px solid #cccccc;
	font-size:0.9em;
}
input[type=checkbox] {
	margin-bottom:0px;
}



/* Links */
a {
	color:#2783a2;
}
div#header h1 a {
	color:#42CB00;
	text-decoration:none;
	font-weight:normal;
}
div.sidebar ul li a {
	display:block;
	text-decoration:none;
	padding:5px 0;
	border-bottom:1px solid #dddddd;
}
div.sidebar a {
	color:#329900;
	font-size:0.9em
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.4em;
}
a:hover, div.sidebar a:hover  {
	color:#359455;
	text-decoration:underline;
}
div.top-panel a {
	border-bottom:1px solid #fff;
	color:#fff;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:1.3em;
	font-weight:bold;
	margin:10px;
	text-decoration:none;
}
div.top-panel a.linkleft {
	margin-left:0; 
}
div#footer p a {
	color:#ffffff;
	text-decoration:none;
	font-size:1.0em;
}

table {
	width:100%;
}
table td {
	padding:5px 5px 5px 0px;
}
table#amenities div {
	padding:2px 0px 0px 0px;
}



hr {
	border:none 0px;
	border-top:1px dotted #aaaaaa;
	margin-top:10px;
	margin-bottom:5px;
}
img {
	border:none;
}
.small {
	font-size:0.9em;
}
.gray {
	color:#888888;
}
.clear {
	clear:both; 
}
.right { 
	float:right; 
}
.left  {
	float:left;  
}
.error, .notice, .success {
	padding:.3em;
	margin-bottom:1em;
	border:2px solid #ddd;
}
.error {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}
.notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}
.success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}