<div id="completed_posts">
	<table>
		<%= render @user.completed_posts %>
	</table>
</div>

<br /><br />

<% if @user.incomplete_posts.count > 0 %>

<div id="incomplete_posts_title"><h1>Incomplete posts</h1></div>
<div id="incomplete_posts">
	<table>
		<%= render @user.incomplete_posts %>
	</table>
</div>

<% end %>