<% @post.step_names.each_with_index do |step, i| %>
	<% if @post.current_step.to_i == i %>
		<span class="current-step">

			<%= "#{step}" %></span>
	<% else %>
		<span class="other-step">

			<%= "#{step}" %>
		</span>
	<% end %>
	<% if i != @post.step_names.count - 1 %>
		&nbsp;&nbsp;&nbsp;<%= image_tag("arrow.png") %>&nbsp;&nbsp;&nbsp;
	<% end %>	
<% end %>