<%= form_for(@post) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<%= render "step_#{@post.current_step}", :f => f %>

	<div class="actions">
		<%= f.submit "Next" %>
	</div>

<% end %>